---
---

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


@font-face {
    font-family: 'trackregular';
    src: url('/fonts/track-webfont.eot');
    src: url('/fonts/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/track-webfont.woff2') format('woff2'),
         url('/fonts/track-webfont.woff') format('woff'),
         url('/fonts/track-webfont.ttf') format('truetype'),
         url('/fonts/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trackitalic';
    src: url('/fonts/track_italic-webfont.eot');
    src: url('/fonts/track_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/track_italic-webfont.woff2') format('woff2'),
         url('/fonts/track_italic-webfont.woff') format('woff'),
         url('/fonts/track_italic-webfont.ttf') format('truetype'),
         url('/fonts/track_italic-webfont.svg#trackitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Brandon Grotesque - Light, Regular, Bold & Black */
@font-face {
    font-family: 'BrandonGrotesque-Light';
    src: url('/fonts/brandongrotesque-light.eot');
    src: url('/fonts/brandongrotesque-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-light.woff') format('woff'),
         url('/fonts/brandongrotesque-light.ttf') format('truetype'),
         url('/fonts/brandongrotesque-light.svg#brandongrotesque-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('/fonts/brandongrotesque-regular.eot');
    src: url('/fonts/brandongrotesque-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-regular.woff') format('woff'),
         url('/fonts/brandongrotesque-regular.ttf') format('truetype'),
         url('/fonts/brandongrotesque-regular.svg#brandongrotesque-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('/fonts/brandongrotesque-bold.eot');
    src: url('/fonts/brandongrotesque-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-bold.woff') format('woff'),
         url('/fonts/brandongrotesque-bold.ttf') format('truetype'),
         url('/fonts/brandongrotesque-bold.svg#brandongrotesque-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Black';
    src: url('/fonts/brandongrotesque-black.eot');
    src: url('/fonts/brandongrotesque-black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-black.woff') format('woff'),
         url('/fonts/brandongrotesque-black.ttf') format('truetype'),
         url('/fonts/brandongrotesque-black.svg#brandongrotesque-black') format('svg');
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
}


html * {max-height:1000000px;}
* {-webkit-text-size-adjust: 100%;}
.post-content p {max-height: 99999px;}


html {overflow-y: scroll; overflow-x: hidden; height: 100%;}
body {color: #222222; background: #e6e6e1 url('/img/bg_large.jpg') center 76px; font-family: 'BrandonGrotesque-Regular', sans-serif; font-size: 17px; line-height: 1.5em;}

.post .salon {padding-top: 132px; height: 372px!important;}
.post .salon > div {background: url('/img/interior.jpg') center center no-repeat; background-size: cover; border-bottom: 1px solid #91191e;}
.page-template .salon, 
.page-template .salon > div {height: 240px; background-attachment: scroll;}

#splash {display: none; position: fixed; height: 100%; width: 100%; background: #222222 center 76px; z-index: 99; cursor: pointer;}
#splash table {height: 100%; width: 100%;}
#splash td {vertical-align: middle; text-align: center;}
#splash img {width: 75%; max-width: 600px;}

.intro {height: 600px;}
.slider, .slide {position: absolute; width: 100%; height: 600px;}
#reservation {font-size: 14px; line-height: 2.5em; position: absolute; top: 200px; right: 0; z-index: 1; width: 125px; color: white; font-family: 'BrandonGrotesque-Bold'; background: #91191e; text-align: center; text-decoration: none; text-transform: uppercase;}
#foodora {position: absolute; top: 240px; right: 0; z-index: 1; width: 125px; background: #d7196b; text-align: center; }
#foodora img {width: 93px; display: inline-block; margin: 7px 0 9px;}

.light {text-align: center; padding: 60px 0 40px; color: #222222;}
.light.extras:before {margin-top: 40px; content: ""; background: url('/img/left.png') left center no-repeat; background-size: contain; height: 300px; width: 300px; position: absolute; left: 0;}
.light.extras > div:before {margin-top: 40px; content: ""; background: url('/img/right.png') right center no-repeat; background-size: contain; height: 300px; width: 450px; position: absolute; right: 0;}
.contactinfo a, .light p a {color: #222222;}
.light .post-content {}
.light .post-content p {color: #222222;}
#catering.light a:not(.blog) {white-space: nowrap; color: #91191e;}
.light p a.red {color: #91191e;}

.bgimage > div {padding: 60px 0;}

#menu {background: url(/img/board.jpg) right center no-repeat; background-size: cover; color: white; border-bottom: 1px solid #91191e;}
#menu > div {background: rgba(33,33,33,0.5);}
#menu .btn {font-family: 'BrandonGrotesque-Bold'; margin: 0px 15px 15px;}

#gallery {background: url(/img/wood.jpg) right center no-repeat; background-size: cover; color: white; border-bottom: 1px solid #91191e;}
#gallery > div {background: rgba(143,117,83,0.3);}
.gallery_images {overflow: hidden; margin-bottom: 10px; white-space: nowrap;}
.gallery_images * {  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.gallery_images > div {display: inline-block;}
.gallery_images a {display: inline-block; margin: 10px; display: none;}
.gallery_images > div a:nth-child(1) {display: inline-block;}
.gallery_images > div a:nth-child(2) {display: inline-block;}
.gallery_images > div a:nth-child(3) {display: inline-block;}
.gallery_images > div a:nth-child(4) {display: inline-block;}
.gallery_images > div a:nth-child(5) {display: inline-block;}
.gallery_images a img {display: inline; width: 180px; border: 1px solid #222222; }
#gallery #nextbutton, #gallery #prevbutton {color: white; display: inline-block; vertical-align: middle; height: 175px; line-height: 165px; float: none; margin: 0; padding: 0 5px;}


.contactinfo {line-height: 1.5em; padding-bottom: 20px;}
.contactinfo  strong {font-family: 'trackregular'; font-weight: normal; font-size: 14px;}

#map {border: 1px solid #222222; cursor: pointer; height: 335px; background: url('/img/map.jpg') center center no-repeat; background-size: cover; margin-bottom: 35px;}

footer p {margin: 0;}
footer a, footer a:hover, footer a:focus {color: #222222;}
.site-footer2 {text-transform: none!important; font-size: 15px!important; padding: 11px 0 12px!important; max-height: 99999px; letter-spacing: 0px!important;}
.site-footer2 a, .site-footer2 a:hover, .site-footer2 a:focus {color: #222222; font-weight: normal; text-decoration: none;}

.textrow {min-height: 46px; line-height: 1.4em; font-family: 'BrandonGrotesque-Regular', sans-serif; text-transform: uppercase; text-align: center; border-top: 1px solid #91191e; border-bottom: 1px solid #1b6833; background: #e6e6e1; padding: 13px 15px; font-size: 13px; letter-spacing: 1px;}
.textrow > span.abs {position: absolute; left: 50%; width: 270px; margin-left: -135px; text-align: center;}
.textrow > div {max-width: 1140px; margin: 0 auto;}
.absright {width: 200px; float: right; height: 18px;}
.absright > * {float: right; display: block;}
.absright > * > img {display: block;}
.flag {height: 15px; margin-left: 10px;}

.navbar {border-radius: 0px!important; font-size: 14px; line-height: 1.4em; height: 133px; font-family: 'trackregular'; letter-spacing: 1px;}
.navbar > div {height: 132px;}
.navbar-default {z-index: 2; position: absolute; width: 100%; background: #e6e6e1 url('/img/bg_large.jpg') center top; border: 0; border-bottom: 1px solid #91191e; text-transform: uppercase;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {opacity: 1; text-decoration: none; color: #222222; margin: 28px 0 0 30px; padding: 4px 0;}
.navbar-collapse {-webkit-box-shadow: none; box-shadow: none;}
.navbar-default .navbar-toggle {margin-top: 25px; margin-bottom: 22px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #222222;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent; opacity: 1;}
.navbar-default .navbar-toggle {border-color: transparent;}
.navbar-default .navbar-brand {margin: 5px 0 0;}
.navbar-default .navbar-brand img {display: block; height: 58px;}
.page-template .navbar-default, .navbar-default.attop {position: fixed;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0px!important;}
.navmenu-default {border: 0; background-color: #222222; border-color: transparent;}
.navmenu-default .navmenu-nav>li>a {text-decoration: none; color: #fff;}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus { color: #fff;;}
.navmenu-default .navmenu-nav>li.active a, .navmenu-default .navmenu-nav>li.active a:hover {background: transparent; color: white;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color: #222222;}
.navmenu-nav {margin-top: 16px; font-size: 18px; line-height: 1.2em;}
.navmenu, .navbar-offcanvas {width: 380px;}
.navmenu img {width: 140px; margin: 20px 30px 15px;}
.nav>li>a {padding: 10px 30px;}
.navbar-default .navbar-nav>.active a:after {
  content: url(/img/italia.svg);
  display: block;
  transform: scale(1.4);
  text-align: center;
  position: relative;
  bottom: 4px;
  right: 1px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {color: #91191e; background: transparent;}


.low_height.page-template .navbar-default, 
.low_height .navbar-default.attop,
.old_Android.page-template .navbar-default, 
.old_Android .navbar-default.attop,
.old_iOS.page-template .navbar-default, 
.old_iOS .navbar-default.attop {position: absolute;}

h1, h2 {font-family: 'trackregular'; text-transform: uppercase; font-weight: normal; font-size: 21px; letter-spacing: 1px; margin-bottom: 1.1em; margin-top: 0px;}
h2 {font-size: 17px;}
h1:after, h2:after {
  content: url(/img/italia.svg);
  display: block;
  transform: scale(1.6);
  width: 100px;
  margin: 0 auto;
}
h3 {font-family: 'trackregular'; font-weight: normal; font-size: 21px; text-transform: uppercase; letter-spacing: 2px;}
p {margin-bottom: 1.5em;;}
.post-content ul, 
.post-content ol {margin-bottom: 2em; color: #e6e6e1;}
.featured-image img {margin-top: 5px; max-width: 100%; border: 1px solid #222222;}
.post-content p a {color: #222222;}

form .form-group {color: #222222; margin-bottom: 8px;} 
form .form-control {border-radius: 0; border: 1px solid #91191e!important; font-size: 16px; color: #222; max-width: 100%;}
form .btn-default {border: 1px solid #91191e!important; background-color: #91191e!important; color: #fff;}
form .btn-default:hover {border: 1px solid #91191e!important; color: #fff;}
form.form-horizontal .control-label {padding-top: 5px!important;}

a {text-decoration: underline;}
a:hover {text-decoration: none;}
.post-content {font-weight: normal;}
.post-header span {margin-bottom: 10px; display: inline-block;}
.btn {font-size: 16px; line-height: 1.8em; color: #e6e6e1; text-decoration: none; padding-left: 25px; padding-right: 25px; border-radius: 0; border: 0; text-transform: uppercase; font-family: 'BrandonGrotesque-Bold';
    -webkit-transition: all 0.2s ease;                  
    -moz-transition: all 0.2s ease;                 
    -o-transition: all 0.2s ease;   
    -ms-transition: all 0.2s ease;          
    transition: all 0.2s ease;
}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover, .btn-default {opacity: 1; border: 1px solid #222222!important; background: transparent; color: #222222; -webkit-box-shadow: none; box-shadow: none;}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover {background: #222222; border-color: #222222!important;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary {opacity: 1; border: 1px solid #e6e6e1!important; background: #e6e6e1; color: #222222;; -webkit-box-shadow: none; box-shadow: none;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover {background: transparent; color: #e6e6e1!important; border-color: #e6e6e1!important;}
.btn-default:active:hover, .btn-default:hover, .btn-primary:active:hover, .btn-primary:hover {opacity: 1;}
.btn:active:hover, .btn:focus, .btn:hover {color: #e6e6e1;}

.fa {font-size: 110%; cursor: pointer; margin: 0 5px 0 0; position: relative; bottom: 1px; color: #91191e;} 
.form-group {color: #666;}
.btn:active {-webkit-box-shadow: none; box-shadow: none;}
.form-control.error {border-color: red;}


.mobile {display: none;}
.desktop {display: inline;}
form {padding-right: 30px; clear: both;}
label {font-weight: normal;}
.post-content img, .post-content iframe {max-width: 100%;}

#lightbox {display: none; z-index: 99; position: fixed; top: 0; left: 0; text-align: center;}
#lightbox #image {z-index: 0; display: inline; max-height: 95vh; max-width: 95vw; border: 1px solid #222222;}
#nextbutton {color: #222222; float: right; width: 50px; height: 50px; line-height: 45px; margin-right: 2.5vw; font-size: 50px;}
#prevbutton {color: #222222; float: left; width: 50px; height: 50px; line-height: 45px; margin-left: 2.5vw; font-size: 50px;}
#closebutton {text-transform: uppercase; font-family: 'BrandonGrotesque-Bold'; color: #222222; position: absolute; top: 2vh; right: 2.5vw; width: 50px; height: 60px; line-height: 60px; margin-left: 2.5vw; font-size: 16px; font-weight: normal;}
#controls {height: 50px; top: 50%; position: fixed; margin-top: -25px; width: 100%;}
#controls a {color: #222222; text-decoration: none;}
#controls a:hover, #controls a:active {color: silver;}
#closebutton, #prevbutton, #nextbutton {cursor: pointer; }



#wrapall, .navbar > div, #lightbox {background: rgba(230,230,225,0.5);}

@media all and (max-width: 1700px) {
.light.extras:before {left: 50%; margin-left: -850px;}
.light.extras > div:before {left: 50%; margin-left: 400px;}
}
@media all and (max-width: 1000px) {
.light.extras:before {content: none;}
.light.extras > div:before {content: none;}
}

@media all and (max-width: 1199px) {
.behandelingen .sidebar {padding-left: 0!important; border-left: 0!important;}
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: inline-block;}
  .gallery_images > div a:nth-child(3) {display: inline-block;}
  .gallery_images > div a:nth-child(4) {display: inline-block;}
  .gallery_images > div a:nth-child(5) {display: none;}
}

@media all and (max-width: 991px) {
  form, .twocols .post-content p {padding-right: 0px;}
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: inline-block;}
  .gallery_images > div a:nth-child(3) {display: inline-block;}
  .gallery_images > div a:nth-child(4) {display: none;}
  .gallery_images > div a:nth-child(5) {display: none;}
}
@media all and (max-width: 767px) {
  .navbar-default .navbar-collapse {background: #222222; border: none;}
  .navbar-default .navbar-brand {margin: 5px 15px!important;}
  .post .salon > div {background-image: url('/img/interior.jpg');}
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: inline-block;}
  .gallery_images > div a:nth-child(3) {display: none;}
  .gallery_images > div a:nth-child(4) {display: none;}
  .gallery_images > div a:nth-child(5) {display: none;}
}
@media all and (max-width: 600px) {
  .mobile {display: inline-block;}
  .desktop {display: none;}
}
@media all and (max-width: 545px) {
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: none;}
  .gallery_images > div a:nth-child(3) {display: none;}
  .gallery_images > div a:nth-child(4) {display: none;}
  .gallery_images > div a:nth-child(5) {display: none;}
}
@media all and (max-width: 450px) {
  .post .salon > div {background-image: url('/img/interior.jpg');}
}
