---
---

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


@font-face {
    font-family: 'Futura';
    src: url('/font/futura/futura.eot');
    src: local('☺'),
         url('/font/futura/futura.eot?#iefix') format('embedded-opentype'),
         url('/font/futura/futura.woff') format('woff'),
         url('/font/futura/futura.ttf') format('truetype'),
         url('/font/futura/futura.svg#Futura') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('/font/futura/futura-bold.eot');
    src: local('☺'),
         url('/font/futura/futura-bold.eot?#iefix') format('embedded-opentype'),
         url('/font/futura/futura-bold.woff') format('woff'),
         url('/font/futura/futura-bold.ttf') format('truetype'),
         url('/font/futura/futura-bold.svg#FuturaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Medium';
    src: url('/font/futura/futura-medium-webfont.eot');
    src: local('☺'),
         url('/font/futura/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/futura/futura-medium-webfont.woff') format('woff'),
         url('/font/futura/futura-medium-webfont.ttf') format('truetype'),
         url('/font/futura/futura-medium-webfont.svg#futura-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


html * {max-height:1000000px;}
* {-webkit-text-size-adjust: 100%;}
.post-content p {max-height: 99999px;}


html {overflow-y: scroll;}
body {color: #231f20; background: #e9e9e0 url('/img/bg_large.jpg') center 76px; font-family: 'Futura', sans-serif; font-size: 18px; line-height: 1.8em;}


#splash {display: none; position: fixed; height: 100%; width: 100%; background: #e9e9e0 url('/img/bg_large.jpg') center top; z-index: 99; cursor: pointer;}
#splash table {height: 100%; width: 100%;}
#splash td {vertical-align: middle; text-align: center;}
#splash img {width: 75%; max-width: 729px;}

.intro {height: 600px;}
.intro > div > div {height: 600px; background: rgba(0,0,0,0); }
.intro .highlight {text-align: center; padding: 90px 15px 0;}
.intro .highlight table {height: 520px;}
.intro .highlight article {display: none;}
.intro .highlight article .btn-primary {display: inline-block; margin-bottom: 10px;}
.intro .btn.desktop {cursor: text; padding: 0; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text;}

.slider {z-index: -1; }
.slider, .slide {position: absolute; width: 100%; height: 600px;}

.light {text-align: center; padding: 90px 0; color: #231f20;}
.light p a {color: #e9e9e0;}
.light .post-content {}
.light .post-content p {color: #e9e9e0;}

.salon {height: 650px; background: url('/img/board.jpg') right center no-repeat; background-size: cover; overflow: hidden;}
.salon > div {background: rgba(0,0,0,0); position: absolute; width: 100%; overflow: hidden; height: 650px;}
.salon .circle {
	text-align: center; 
	background: #e9e9e0 url('/img/bg_large.jpg') center top; 
	color: #e9e9e9; 
	height: 500px; 
	width: 500px; 
	margin: 75px 0 0 -250px; 
	border-radius: 250px; 
	position: absolute; left: 50%;
}
.salon .circle p {margin: 0 auto; display: block; width: 260px; position: relative; right: 5px; text-transform: uppercase; font-size: 16px; line-height: 1.8em;}
.salon .circle p .day {display: inline-block; width: 130px; text-align: right; padding-right: 12px;}
.salon .circle p .time {display: inline-block; width: 130px; text-align: left; padding-left: 12px;}
.salon .post-header {padding: 120px 0 0;}
.salon .post-header h1 {}
.salon .post-content {}
.salon .post-content p {color: #e9e9e9;}

.page-template .salon, .page-template .salon > div {height: 240px; background-attachment: scroll;}

.twocols {padding: 0 0 90px; background: #e9e9e9; color: #231f20;}
.twocols .post-content p {color: #e9e9e0; padding-right: 30px;}
.twocols .post-content table {color: #e9e9e0; margin-bottom: 2em;}
.twocols .post-content td {padding-right: 30px;}
.twocols .post-header {padding-top: 90px;}
.twocols .sidebar, .behandelingen .sidebar {border-left: 1px dotted silver; padding-left: 25px; padding-bottom: 2px;}

.post .twocols .post-header h1 {font-size: 30px; margin-top: 5px;}
.post .twocols .post-header span {font-size: 22px; text-transform: uppercase; font-weight: normal;}
.post .twocols .post-content p:first-child {
    font-size: 22px;
    line-height: 1.7em;
    font-style: italic;
    margin-bottom: 1.3em;
    font-weight: normal;
}

.behandelingen {padding: 90px 0; color: #231f20;}
.behandelingen table {width: 100%; color: #e9e9e0;}
.behandelingen td {padding: 0; font-size: 16px; line-height: 1.8em;}
.behandelingen tr td:nth-child(1) {padding-left: 50px;}
.behandelingen tr td:nth-child(3) {width: 100px; text-align: right; padding-right: 50px;}
.behandelingen td a {text-decoration: none; color: #e9e9e0;}

footer p {margin: 0; padding-right: 30px;}
footer a, footer a:hover, footer a:focus {color: #231f20;}
.site-footer {font-size: 16px; line-height: 1.8em; padding: 0 0 90px; background: #e9e9e9; color: #231f20;}
.site-footer .row > div {max-height: 99999px;}
.site-footer h3 {padding: 70px 0 0; clear: both;}
.site-footer .day {float: left; width: 105px;}
.site-footer2 {font-size: 14px; padding: 15px 0; max-height: 99999px;}
.site-footer2 .fa {margin-left: 5px; top: -2px; vertical-align: middle;}
.site-footer2 a, .site-footer2 a:hover, .site-footer2 a:focus {color: #231f20; font-family: 'Futura Medium'; font-weight: normal; text-decoration: none;}

.textrow {text-align: center; border-top: 1px solid #91191e; border-bottom: 1px solid #1b6833; background: #e9e9e0; padding: 8px 15px;}
.navbar {border-radius: 0px!important; font-size: 14px; line-height: 1.4em; height: 107px;}

.navbar-default {z-index: 2; position: absolute; width: 100%; background: #e9e9e0 url('/img/bg_large.jpg') center top; border: 0; border-bottom: 1px solid #91191e; text-transform: uppercase;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {opacity: 1; text-decoration: none; border-top: 3px solid transparent; color: #231f20; margin: 25px 0 30px 30px; padding: 4px 0;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {border-top: 3px solid #231f20;}
.navbar-collapse {-webkit-box-shadow: none; box-shadow: none;}
.navbar-default .navbar-toggle {margin-top: 25px; margin-bottom: 22px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #231f20;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent; opacity: 1;}
.navbar-default .navbar-toggle {border-color: transparent;}
.navbar-default .navbar-brand {margin: 9px 0 0;}
.navbar-default .navbar-brand img {display: block; width: 270px;}
.page-template .navbar-default, .navbar-default.attop {position: fixed;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0px!important;}
.navmenu-default {border: 0; background-color: #231f20; border-color: transparent;}
.navmenu-default .navmenu-nav>li>a {text-decoration: none; color: #231f20;}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus { color: #231f20;;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color: #231f20;}
.navmenu-nav {margin-top: 16px; font-size: 27px; line-height: 1.4em;}
.navmenu, .navbar-offcanvas {width: 380px;}
.navmenu img {width: 200px; margin: 20px 15px;}

.low_height.page-template .navbar-default, 
.low_height .navbar-default.attop,
.old_Android.page-template .navbar-default, 
.old_Android .navbar-default.attop,
.old_iOS.page-template .navbar-default, 
.old_iOS .navbar-default.attop {position: absolute;}

h1 {text-transform: uppercase; font-weight: bold; font-size: 30px; letter-spacing: 4px; margin-bottom: 1.1em; margin-top: 0px;}
h3 {font-weight: bold; font-size: 21px; text-transform: uppercase; letter-spacing: 2px;}
p {margin-bottom: 2em;}
.post-content h2 {margin-bottom: 0; margin-top: 25px; color: #e9e9e0; font-weight: bold;}
.post-content ul, 
.post-content ol {margin-bottom: 2em; color: #e9e9e0;}
.featured-image img {margin-top: 10px; max-width: 100%;}

.post-content p a {color: #e9e9e0;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
.post-content {font-weight: normal;}

.btn {font-size: 16px; line-height: 1.8em; font-family: 'Futura Medium'; color: #e9e9e9; text-decoration: none; padding-left: 25px; padding-right: 25px; border-radius: 0; border: 0; text-transform: uppercase;
    -webkit-transition: all 0.2s ease;                  
    -moz-transition: all 0.2s ease;                 
    -o-transition: all 0.2s ease;   
    -ms-transition: all 0.2s ease;          
    transition: all 0.2s ease;
}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover, .btn-default {opacity: 1; border: 1px solid #e9e9e0!important; background: transparent; color: #231f20; -webkit-box-shadow: none; box-shadow: none;}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover {background: #231f20; border-color: #231f20!important;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary {opacity: 1; border: 1px solid #e9e9e0!important; background: #e9e9e0; color: #231f20;; -webkit-box-shadow: none; box-shadow: none;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover {background: transparent; color: #231f20!important; border-color: #e9e9e0!important;}
.btn-default:active:hover, .btn-default:hover, .btn-primary:active:hover, .btn-primary:hover {opacity: 1;}
.btn:active:hover, .btn:focus, .btn:hover {color: #e9e9e9;}
.intro .btn-primary:hover, .intro .btn-default {color: #e9e9e9!important; border: 1px solid #e9e9e9!important; background: transparent!important;}
.intro .btn-primary, .intro .btn-default:hover {color: #e9e9e0; border: 1px solid #e9e9e9!important; background: #e9e9e9!important;}
.fa {font-size: 180%; display: inline-block; cursor: pointer; margin: 0; position: relative; top: 3px;} 
.form-group {color: #666;}
.btn:active {-webkit-box-shadow: none; box-shadow: none;}
.form-control.error {border-color: red;}


.team {padding: 90px 0; text-align: center; background: url(/img/wood.jpg) left center; background-size: cover; }
.team img {width: 100%; border: 1px solid #e9e9e9; margin-bottom: 30px;}
.col-centered div[class^="col-"]{
	float: none; display: inline-block;
}

.mobile {display: none;}
.desktop {display: inline;}
form {padding-right: 30px; clear: both;}
label {font-weight: normal;}
.border {border: 6px solid #e9e9e9; box-shadow: 0px 0px 6px rgba(0,0,0,0.25);}
.border img {margin-top: 0px;}
.rotate {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}
#front {clear: both; position: absolute; margin-top: 530px; width: 100%; max-width: 300px;}
#front img {display: block; width: 100%;}
.post-content img, .post-content iframe {max-width: 100%;}

#gallery {padding-top: 10px; padding-bottom: 20px;}
#gallery.row {margin-left: -4px; margin-right: -4px;}
#gallery.row > div {padding: 4px;}
#gallery img {width: 100%;}

#lightbox {cursor: pointer; display: none; z-index: 99; position: fixed; top: 0; left: 0; background: #222 url('/img/preloader.gif') center center no-repeat; text-align: center;}
#lightbox #image {z-index: 0; display: inline; max-height: 95vh; max-width: 95vw;}
#nextbutton {color: #e9e9e9; float: right; width: 50px; height: 50px; line-height: 45px; margin-right: 2.5vw; font-size: 50px;}
#prevbutton {color: #e9e9e9; float: left; width: 50px; height: 50px; line-height: 45px; margin-left: 2.5vw; font-size: 50px;}
#closebutton {color: #e9e9e9; position: absolute; top: 2vh; right: 2.5vw; width: 50px; height: 50px; line-height: 50px; margin-left: 2.5vw; font-size: 20px; font-weight: normal;}
#controls {height: 50px; top: 50%; position: fixed; margin-top: -25px; width: 100%;}
#controls a {color: #e9e9e9; text-decoration: none;}
#controls a:hover, #controls a:active {color: silver;}

#icons .container .row > div {padding: 70px 0;}
#icons img {
display: inline-block;
margin: 20px 19px;
height: 18px;
vertical-align: middle;
}
#icons img#balmain {height: 27px; margin-top: 31px;}
#icons img#flipinhair {height: 32px;}




@media all and (max-width: 1199px) {
.behandelingen .sidebar {padding-left: 0!important; border-left: 0!important;}
}

@media all and (max-width: 991px) {
  form, .twocols .post-content p {padding-right: 0px;}
}
@media all and (max-width: 767px) {
  body, #splash, .navbar-default, .salon .circle {background-image: url('/img/bg_small.png');}
  .navbar-default .navbar-collapse {background: #231f20; border: none;}
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 15px!important;}
  .salon {background-image: url('/img/rafkappers2_small.jpg');}
}
@media all and (max-width: 600px) {
  .mobile {display: inline-block;}
  .desktop {display: none;}
}
@media all and (max-width: 450px) {
  body, #splash, .navbar-default, .salon .circle {background-image: url('/img/bg_smaller.png');}
  .salon {max-width: 450px;}
  .salon > div {width: 450px;}
  .salon .circle p {width: 280px;}
  .salon .circle p .time {width: 140px;}
  .salon .circle p .day {width: 140px;}
  .salon {background-image: url('/img/rafkappers2_smaller.jpg');}
  .behandelingen tr td:nth-child(1) {padding-left: 0px;}
  .behandelingen tr td:nth-child(3) {padding-right: 0px;}
}
