<div id="wrapall">
<script>
if(getParameterByName('url')) {
    document.getElementById('wrapall').style.display='none';
    document.getElementById('body').style.background='#222 url(img/preloader.gif) center center no-repeat';
}
</script>

<header class="site-header">
      <nav class="navbar navbar-default attop">
      <div class="textrow">preheader</div>
        <div class="container">


<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
<img src="/img/logofull.svg">
      <ul class="nav navmenu-nav">
              <li><a href="/#over-ons">Over ons</a></li>
              <li><a href="/#openingstijden">Openingstijden</a></li>
              <li><a href="/#behandelingen">Behandelingen</a></li>
              <li><a href="/#team">Team</a></li>
              <li><a href="/#contact">Contact</a></li>
              <li><a href="/nieuws/">Nieuws</a></li>
          
      </ul>
</div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#top">
              <img src="/img/logofull.svg">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/#over-ons">Over ons</a></li>
              <li><a href="/#openingstijden">Openingstijden</a></li>
              <li class="hidden-sm"><a href="/#behandelingen">Behandelingen</a></li>
              <li class="hidden-sm"><a href="/#team">Team</a></li>
              <li><a href="/#contact">Contact</a></li>
              <li><a href="/nieuws/">Nieuws</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
</header>
