<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="language" content="NL">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta id="viewport" name="viewport" content="width=device-width">
  <link rel="canonical" href="http://www.ozioamsterdam.com{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" type="image/png" href="/img/icon-196x196.png">
    <link rel="shortcut icon" sizes="196x196" href="/img/icon-196x196.png">
    <link rel="apple-touch-icon" href="/img/icon-196x196.png">

  <link rel="stylesheet" href="{{ "/css/combined.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700' rel='stylesheet' type='text/css'>

	<script>
	
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function setimage() {
    var url = getParameterByName('url');
    document.getElementById('lightbox').style.display = 'table';
    document.getElementById('image').src = '//images.weserv.nl/?url=ozioamsterdam.com'+url+'&w=1000&h=1000';
}
function closeimage() {
    document.location.href = '{{ page.url }}#gallery';
}

function goNext(e) {
    if (!e)
      e = window.event;

    //IE9 & Other Browsers
    if (e.stopPropagation) {
      e.stopPropagation();
    }
    //IE8 and Lower
    else {
      e.cancelBubble = true;
    }
    var current,next;
    var imgArray = new Array();
    {% for i in page.images %}{% capture iimagesize %}{{ i.image | size | minus:2 }}{% endcapture %}{% if iimagesize contains '-' %}{% else %}imgArray[{{ forloop.index0 }}] = '{{ i.image }}';
    {% endif %}{% endfor %}
    for (i = 0; i < imgArray.length; i++) { 
        if(getParameterByName('url')==imgArray[i]) current = i;
    }
    if(current<(imgArray.length-1)) next = (current+1);
    else next = 0;
    window.location = '{{ page.url | remove: 'index.html' }}?url='+imgArray[next];
}
function goPrev(e) {
    if (!e)
      e = window.event;

    //IE9 & Other Browsers
    if (e.stopPropagation) {
      e.stopPropagation();
    }
    //IE8 and Lower
    else {
      e.cancelBubble = true;
    }
    var current,prev;
    var imgArray = new Array();
    {% for i in page.images %}{% capture iimagesize %}{{ i.image | size | minus:2 }}{% endcapture %}{% if iimagesize contains '-' %}{% else %}imgArray[{{ forloop.index0 }}] = '{{ i.image }}';
    {% endif %}{% endfor %}
    for (i = 0; i < imgArray.length; i++) { 
        if(getParameterByName('url')==imgArray[i]) current = i;
    }    
    if(current>0) prev = (current-1);
    else prev = (imgArray.length-1);
    window.location = '{{ page.url | remove: 'index.html' }}?url='+imgArray[prev];
}
	</script>
	{% include ga.html %}

</head>
