<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page-template post">
	  {% include header.html %}
    <div class="salon2"></div>

    <div class="twocols">
      <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <article class="" style="max-width: 800px; margin: 0 auto;">
                        <header class="post-header">
                          <span>{{ page.functie }}</span>
                          <h1 class="post-title">{{ page.title }}</h1>
                        </header>
                                             
                        {% if page.image %}<p><img src="{{ page.image }}" /></p>{% endif %}
                        <div class="post-content">
                        {{ content }}

                        <p><a href="/#team">&larr; Terug naar het team</a></p>
                        </div>
                </article>
              </div>
          </div>
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
