<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="body" class="page-template post" onload="if(getParameterByName('url')) setimage('url'); {% assign num_images = page.images | size %}{% if num_images <= 1 %}document.getElementById('controls').style.display='none';{% endif %}">
	  {% include header.html %}
    <div class="salon"><div></div></div>

    <div class="light extras">
      <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <article class="" style="max-width: 800px; margin: 0 auto;">
                        <header class="post-header">
                          <h1 class="post-title">{{ page.title }}</h1>
                        </header>

                                             
            {% if page.image %}<p><img src="{{ page.image }}" /></p>{% endif %}
            {% for item in page.images %}
                {% capture itemimagesize %}{{ item.image | size | minus:2 }}{% endcapture %}
                {% if forloop.first %}<div class="row" id="gallery">{% endif %}
                {% if itemimagesize contains '-' %}{% else %}
                <div class="col-xs-3">
                    <a href="{{ page.url }}?url={{ item.image }}" class="img"><img src="//images.weserv.nl/?url=www.koffijberg.nl{{ item.image }}&w=200&h=200&t=square&a=top" /></a>
                </div>
                {% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
            
                        <div class="post-content">
                        {{ content }}

                        <p><br /><a href="/" class="btn btn-default">Back to the homepage</a></p>
                        </div>
                </article>
            </div>
          </div>
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
